a.link-dom{
    background-color: yellow;
}
:root{
    --yelow-color:#F7DF1E;
    --dark-color:#222
}
 .cards {
      display: grid;
      grid-template-columns:  repeat(auto-fit,minmax(250px,1fr ));
      background-color: var(--dark-color);
      color: var(--yellow-color);
    }
    .card :hover{
      color:var(--dark-color);
      background:var(--yelow-color) ;
    }
    .card img{
      width: 100%;
      height: auto;
      transition: all 0.3 ease-out;
    }

    .card figcaption {
      padding: 1rem;
    }

    .rotate-45 {
      transform: rotate(45deg);
    }

    .rotate-135 {
      transform: rotate(135deg);
    }

    .opacity-80 {
      opacity: .8;
    }

    .sepia {
      filter: sepia(1);
    }
    .filter{
      display: none;
    }
    
